.weather-icon {
    display: inline-block;
    margin: 0 0.9rem 0 0;
    vertical-align: top;
    opacity: 0.4;
    font-size: 6.4rem;
}


.forecast-date-container {
    display: inline-block;
    vertical-align: top;
    margin: 0 4.9rem 0 0;
}

.location-city {
    display: block;
    font-size: 2.3rem;
    color: #333;
    vertical-align: top;
    margin: 0.7rem 0 0 0;
}

.forecast-date {
    display: block;
    font-size: 2.3rem;
    color: #333;
    vertical-align: top;
    margin: 0.7rem 0 0 0;
}

.location-country {
    display: block;
    font-size: 1.3rem;
    color: #333;
    vertical-align: top;
}

.temp-container {
    display: inline-block;
    margin: 1rem 0 0 0;
}

.current-temp {
    display: inline-block;
    font-size: 5.3rem;
    color: #000;
    line-height: 4.3rem;
    direction: ltr;
    margin: 0 1.1rem 0 0;
    letter-spacing: -0.08em;
}

.temp-unit {
    display: inline-block;
    font-size: 2.7rem;
    color: #000;
    vertical-align: top;
    margin: 0 0 0 -0.5rem;
    line-height: 2.2rem;
}
