.daily-forecast-container {
    background: #fafafa;

    .location-container {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;

        padding-top: 1.5rem;

        .current-location-container {
            flex: 1 1 auto;

            padding: 0 0 2rem 0.7rem;

            .location-city {
                font-size: 2.3rem;
                color: #333;
                vertical-align: top;
            }

            .location-country {
                display: block;
                font-size: 1.3rem;
                color: #333;
                vertical-align: top;
            }
        }

        .predefined-locations-container {
            flex: 1 1 auto;

            padding: 0 0 2rem 0.7rem;

            .locations-dropdown {
                font-size: 1rem;
                color: #333;
                vertical-align: top;
            }
        }
    }

    .daily-container {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;

        background: #ddd;

        .daily-item {
            flex: 1 1 auto;

            margin: 0.6rem 0.6rem 0.6rem 0;
            padding: 0.6rem;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
            background: #FFF;

            .forecast-date-container {
                display: inline-block;
                vertical-align: top;
                margin: 0;

                .forecast-date {
                    display: block;
                    font-size: 1.3rem;
                    color: #333;
                    margin: 0.2rem;
                }
            }

            .weather-icon {
                display: block;
                margin: 1.1rem 0.2rem 1.5rem 0.2rem;
                vertical-align: top;
                opacity: 0.4;
                font-size: 2rem;
            }

            .temp-container {
                display: inline-block;
                margin: 0;

                .current-temp {
                    display: inline-block;
                    font-size: 2rem;
                    line-height: 1.8rem;
                    color: #000;
                }

                .temp-unit {
                    display: inline-block;
                    font-size: 1rem;
                    vertical-align: top;
                    color: #000;
                }

            }

            &:first-child {
                margin-left: 0.6rem;
            }
        }
    }
}
